<%= form_for document do |f| %>
  <div class="error_messages">
    <%= document.error_messages %>
  </div>
  <table class="form">
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :content %></td>
      <td><%= f.file_field :content %></td>
    </tr>
  </table>
  <%= f.submit :class => "submit_form" %>
<% end %>
